/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 июн. 2019 г., 18:23:20
    Author     : Oxygen-Junkie
*/
body {
    background-color: #2E8B57; 
    color: #FFD700; 
    text-shadow: 0 1px 1px #2D2020;
    position: absolute;
    top: 10px;
    transform: scale(2);  
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}
th {
    background: #006400;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: white;
}
td {
    padding: 10px 20px;
    background: white;
}
#table{
    position: absolute;
    left: 500px;
}
#people{
    position: absolute;
}
select {
    background: transparent;
    border: 0;
    width: 205px;
    color: #FFD700; 
    text-shadow: 0 1px 1px #2D2020;
}
input {
    border: 0;
    color: #FFD700; 
    text-shadow: 0 1px 1px #2D2020;
}
