<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login Page</title>
        <style>
            body {
                background-color: #2E8B57; 
                color: #FFD700; 
                text-shadow: 0 1px 1px #2D2020;
                position: absolute;
                top: 250px;
                left: 600px;
                transform: scale(1.2);  
            }
            input {
                border: 0;
                color: #FFD700; 
                text-shadow: 0 1px 1px #2D2020;
            }
        </style>
    </head>
    <body>
        <strong>Login please</strong> <br/>
        <div th:if="${param.error}">
            Invalid email and/or password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div> <br/>
        <form th:action="@{/login}" method="post">
            <div><label> Email : <input type="text" name="username"/> </label></div> <br/>
            <div><label> Password: <input type="password" name="password"/> </label></div> <br/>
            <div><input type="submit" value="Login"/></div>
        </form>
        <p>Not have an account yet? Click <a href="/registration">here</a> to sign up! (Register)</p>
    </body>
</html>